[defaults]
inventory           = localhost,
roles_path          = ../../common/ansible/roles
host_key_checking   = True
retry_files_enabled = False
stdout_callback     = yaml
callbacks_enabled   = profile_tasks, timer
interpreter_python  = auto_silent
gathering           = explicit
